.panel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 30px;
    font-size: 30px;
    color: black;
}

.input {
    padding: 20px 10px;
    width: 35%;
    min-width: 380px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
}

.form {
    width: 60%;
    border-radius: 5px;
    font-size: 21px;
}

.button {
    margin-left: 5%;
    text-align: center;
}
